@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap");

/* CSS for stock search starts*/
.stocksearch {
  background-image: url("../static/img/back.svg");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.stocksearch-wordings {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 34px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.form-decor {
  text-align: center;
  background-color: white;
  width: 50%;
  padding: 0;
  height: 50px;
  border-radius: 15px;
  box-shadow: #ccc 0px 0px 10px;
}

input[type="text"] {
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 2.5px solid #ccc;
  outline: none;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.clear-button {
  width: 50px; /* Increase the width to make the SVG larger */
  height: 50px; /* Increase the height to make the SVG larger */
  padding: 0;
  border: none;
  outline: none;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 15px;
}
.search-button {
  width: 50px; /* Increase the width to make the SVG larger */
  height: 50px; /* Increase the height to make the SVG larger */
  padding: 0;
  border: none;
  outline: none;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 15px;
}
.search-button svg {
  width: 30%; /* SVG will fill the button's width */
  height: 30%; /* SVG will fill the button's height */
}
.clear-button svg {
  width: 30%; /* SVG will fill the button's width */
  height: 30%; /* SVG will fill the button's height */
}

.error-decor {
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  font-size: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #d2d2d2;
  width: 50%;
  border-radius: 10px;
}
.fill {
  width: 100%;
  height: 100px;
}

.hiddentabs-decor {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}
/* CSS for stock search ends*/

/* .tabs-decor {
  text-align: center;
}

.tablink-decor {
  width: 70%;
  background-color: #fafafc;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.tablink {
  text-decoration: none;
} */
