@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap");

/* CSS for stock search starts*/
.stocksearch {
  background-image: url("../static/img/back.svg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.stocksearch-wordings {
  padding: 40px;
  font-size: 34px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* CSS for stock search ends*/

.tabs-decor {
  text-align: center;
}

.tablink-decor {
  width: 70%;
  background-color: #fafafc;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.tablink {
  text-decoration: none;
}
